{% assign page = include.page %}
{% assign site = include.site %}
{% assign menu = site.menus.main %}
<footer class="footer">
    <div class="footer__container">
        <a href="/">
            
            {% include picture.html image=site.logos.light cssClass='footer__logo' alt='Healthy Pleasures logo' %}
        </a>
        <ul class="footer__nav">
            {% for item in menu %}
            <li class="footer__nav-item">
                <a href="{{ item.url | relative_url }}" {% if item.title == page.title %}class="footer__nav-link footer__nav-link--active" {% else %}class="footer__nav-link"{% endif %}>
                {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul class="footer__nav">
            <li class="footer__nav-item">
                <a  class="footer__nav-link" href="#">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
<path id="instagram-instagram" fill="#FFFFFF" enable-background="new    " d="M22.117,10.576h-2.176
	c0.156,0.615,0.252,1.258,0.252,1.924c0,4.249-3.445,7.692-7.693,7.692c-4.247,0-7.691-3.443-7.691-7.692
	c0-0.666,0.094-1.309,0.253-1.924H2.885v10.578c0,0.529,0.431,0.96,0.963,0.96h17.307c0.531,0,0.963-0.431,0.963-0.96V10.576
	L22.117,10.576z M22.117,3.846c0-0.531-0.432-0.961-0.963-0.961H18.27c-0.531,0-0.961,0.431-0.961,0.961v2.885
	c0,0.531,0.432,0.961,0.961,0.961h2.885c0.531,0,0.963-0.431,0.963-0.961V3.846z M12.5,7.692c-2.654,0-4.807,2.152-4.807,4.808
	s2.152,4.808,4.807,4.808c2.656,0,4.809-2.152,4.809-4.808S15.156,7.692,12.5,7.692 M22.117,25H2.885C1.292,25,0,23.708,0,22.114
	V2.884C0,1.292,1.293,0,2.885,0h19.232C23.709,0,25,1.292,25,2.884v19.23C25,23.708,23.709,25,22.117,25"/>
</svg>




                </a>
            </li>
        </ul>
        <ul class="footer__nav">
            <li class="footer__nav-item">
        <div class="footer__legal-notice">Healthy Pleasures © 2019</div>
            </li>
        </ul>
    </div>
</footer>
