.blog {
&__section {
    max-width: 700px;
}
&__section-title {
    font-family: "Montserrat", sans-serif;
    font-size: $font_size_xxlarge;
    margin-bottom: 24px;
    color: #CC9933;
    margin-top: 75px;
    text-align: center;
}
h2 {
    font-family: $font_family_primairy;
}
p {
    padding: 0px 0 10px;
    color: $color_medium;
}
}