.blog {
&__section {
    max-width: 700px;
    padding-bottom: 30px;
}
&__section-title {
    font-family: "Montserrat", sans-serif;
    font-size: $font_size_xxlarge;
    margin-bottom: 50px;
    color: #CC9933;
    margin-top: 75px;
    text-align: center;
}
h2 {
    font-family: $font_family_primairy;
    color: $color_active;
    font-size: $font_size_medium;
}
p {
    padding: 0px 0 10px;
    color: $color_medium;
    font-size: 18px;
    line-height: 150%;
}
li {
    margin-bottom: 30px;
}
}