.footer {
  @include container-properties;
  background-color: #B88A2E;

  &__container { 
      @include container-item-properties;
      padding-top: 50px;
      padding-bottom: 50px; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  
  &__nav {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      margin: 20px 0;
      color: #ffffff;
      @include smaller-than-tablet {
        flex-direction: column;
      }
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font_family_primairy;
    padding: 20px;
  }
  
  &__logo { 
    height: 45px; 
    margin-right: auto;
    margin: 50px 0 0;
      @include smaller-than-tablet {
        margin: 0;
    }
  }

  &__nav-link { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

  &__legal-notice {
      display: flex;
      align-items: center;
      color: #ffffff;
      font-weight: bold;
      margin-left: auto;
  }
}