.post {
&__section {
    max-width: 700px;
}
&__section-title {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    margin-bottom: 24px;
    color: #CC9933;
    margin-top: 75px;
    text-align: center;
}
&__section-date {
    font-size: 14px;
    color: $color_light_grey;
    text-align: center;
    text-transform: uppercase;
    font-family: $font_family_primairy;
}
img {
    width: 100%;
}
p {
    padding: 20px 0;
    color: $color_medium;
    font-size: 18px;
    line-height: 150%;
}
}